@model P2_StudentMVC.Models.StudentAddressViewModel

<h2>Student and Address Details</h2>

<h3>Student Info</h3>
<table border="1" cellpadding="5">
    <tr><td>Id</td><td>@Model.Student.Id</td></tr>
    <tr><td>Name</td><td>@Model.Student.Name</td></tr>
    <tr><td>Age</td><td>@Model.Student.Age</td></tr>
    <tr><td>Marks</td><td>@Model.Student.Marks</td></tr>
</table>

<br />

<h3>Address Info</h3>
<table border="1" cellpadding="5">
    <tr><td>Address Id</td><td>@Model.Address.AddressId</td></tr>
    <tr><td>City</td><td>@Model.Address.City</td></tr>
    <tr><td>State</td><td>@Model.Address.State</td></tr>
    <tr><td>Pincode</td><td>@Model.Address.Pincode</td></tr>
</table>
